.profile{
    max-width:410px;
    margin: 74px auto;
    padding: 0 30px;
}
.profile__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 106px;
    text-align: center;
}
.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.profile__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 16px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__label{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}
.profile__input{
    border: none;
    outline:none;
    text-align: end;
}
.profile__btn-edit{
    margin-top: 204px;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}

.profile__btn-logout{
    margin-top: 16px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
}