.profile{
    max-width:410px;
    margin: 0 auto;
    margin: 74px auto 70px;
    padding: 0 30px;
    
}
.profile__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 106px;
    text-align: center;
}
.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.profile__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 16px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__label{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}
.profile__input{
    font-size: 11px;
    line-height: 13px;
    border: none;
    outline:none;
    text-align: end;
    background-color: transparent;
}

.profile__input:disabled {
    background-color: transparent;
 }

.profile__error{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__btn-edit{
    margin-top: 204px;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    color: #000;
}

.profile__btn {
    border: none;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    margin-top: 69px;
}

.profile__btn_valid {
    background: #FF6838;
    color: #FFFFFF;
}

.rprofile__btn_error-validation {
    background: #F8F8F8;
    color: #000;
}

.profile__btn-logout{
    margin-top: 16px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile{
        margin: 236px auto 269px;
    }
    .profile__title{
        margin-bottom: 79px;
    }
    .profile__btn-edit{
        margin-top: 188px;
    }
}

@media screen and (max-width: 370px) {
    .profile{
        margin: 70px auto 40px;
    }
    .profile__title{
        margin-bottom: 63px;
    }
    .profile__btn-edit{
        margin-top: 363px;
        line-height: 15px;
    }
}