.promo {
    background-color: #465DFF;
}

.promo__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 70px 60px;
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 626px;
    margin: 0;
}

.promo__img {
    padding-top: 102px;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .promo__container {
        padding: 300px 44px 70px;
    }
    .promo__title {
        max-width: 680px;
        text-align: center;
    }
    .promo__img {
        align-self: center;
    }
}

@media screen and (max-width: 320px) {
    .promo__container {
        padding: 183px 0 40px;
    }
    .promo__title {
        font-size: 31px;
        max-width: 300px;
        margin: auto;
    }
    .promo__img {
        padding-top: 60px;
        content: url("../../images/promomin.svg");
    }
}