.promo {
    background-color: #465DFF;
}

.promo__container {
    max-width: 1140px;
    min-height: 560px;
    margin: 0 auto;
    position: relative;
}

.promo__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 626px;
    margin: 0;
    position: absolute;
    top: 0;
    padding: 50px 0 0;
}

.promo__img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0 60px 0;
}

@media screen and (max-width: 768px) {
    .promo__container {
        max-width: 668px;
    }
    .promo__title {
        text-align: center;
        padding: 300px 0 140px;
        position: relative;
        margin: auto;
    }

    .promo__img {
        padding: 0 0 70px 0;

        max-height: 230px;
        position: relative;
        margin: auto;
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .promo__container {
        max-width: 300px;
    }
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        text-align: center;
        padding: 193px 0 60px;
    }

    .promo__img {
        padding: 0 0 40px 0;
        max-width: 320px;
        max-height: 230px;
    }
}