.project-about {
    max-width: 1140px;
    margin: 0 auto;
    padding: 110px 70px;
}

.project-about__header {
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    margin: 0;
}

.project-about__container {
    padding-top: 70px;
    padding-bottom: 110px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 26px 40px;
    grid-auto-flow: column;
}

.project-about__title {
    font-size: 20px;
    margin: 0;
}

.project-about__info {
    font-size: 14px;
    margin: 0;
}

.progressbar {
    display: grid;
    grid-template-columns:20% 80%;
    row-gap: 14px;
    text-align: center;
}

.progressbar__header_back {
    background: #2BE080;
}

.progressbar__header_front {
    background: #F2F2F2;
}

.progressbar__header {
    font-size: 14px;
    margin: 0;
    padding: 9px 0;
}

.progressbar__title {
    font-size: 14px;
    color: #A0A0A0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .project-about {
        padding: 90px 50px;
    }
    .project-about__container {
        gap: 22px 30px;
        padding-bottom: 93px;
    }
    .project-about__info {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .project-about {
        padding: 70px 18px;
    }
    .project-about__container {
        padding-top: 60px;
        grid-auto-flow: row;
        gap: 0;
        padding-top: 60x;
        padding-bottom: 60px;
    }
    .project-about__header {
        font-size: 18px;
    }
    .project-about__title {
        padding-bottom: 16px;
        font-size: 18px;
    }
    .project-about__info {
        font-size: 11px;
    }
    .project-about__info:first-of-type {
        padding-bottom: 56px;
    }
    .progressbar__header {
        font-size: 11px;
    }
    
    .progressbar__title {
        font-size: 11px;
    }
}