.aboutme{
    max-width: 1140px;
    margin: 0 auto;
    padding: 90px 70px;
}
.aboutme__header{
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    margin: 0;
}
.aboutme__container{
    padding-top: 66px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.aboutme__info{
    max-width: 600px;
}
.aboutme__name{
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}
.aboutme__job{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 18px 0 26px;
    margin: 0;
}
.aboutme__description{
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   margin: 0;
}
.aboutme__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: #000;
}
.aboutme__image{
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .aboutme {
        max-width: 668px;
    }

    .aboutme__image{
        width:255px;
        height: 307px;
        border-radius: 10px;
    }

}

@media screen and (max-width: 320px) {
    .aboutme {
        max-width: 284px;
    }

    .aboutme__image{
        width:292px;
        height: 352px;
        border-radius: 10px;
    }

}